<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{150,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,223}}</string>
                <key>sourceSize</key>
                <string>{150,223}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1071},{198,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{198,200}</string>
            </dict>
            <key>back_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,871},{198,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{198,200}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2329},{445,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,445}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,566},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>facebook_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2064},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{853,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,336}}</string>
                <key>sourceSize</key>
                <string>{853,336}</string>
            </dict>
            <key>ganador_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{765,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,224}}</string>
                <key>sourceSize</key>
                <string>{765,224}</string>
            </dict>
            <key>goal_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,761},{108,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,180}}</string>
                <key>sourceSize</key>
                <string>{108,180}</string>
            </dict>
            <key>goal_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,677},{106,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,174}}</string>
                <key>sourceSize</key>
                <string>{106,174}</string>
            </dict>
            <key>goal_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,534},{109,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,225}}</string>
                <key>sourceSize</key>
                <string>{109,225}</string>
            </dict>
            <key>goal_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1347},{410,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,228}}</string>
                <key>sourceSize</key>
                <string>{410,228}</string>
            </dict>
            <key>goal_border_letters_separation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4060},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>goal_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,427},{105,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,168}}</string>
                <key>sourceSize</key>
                <string>{105,168}</string>
            </dict>
            <key>goal_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1089},{103,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,225}}</string>
                <key>sourceSize</key>
                <string>{103,225}</string>
            </dict>
            <key>goal_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,534},{48,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,174}</string>
            </dict>
            <key>goal_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4014},{44,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,173}}</string>
                <key>sourceSize</key>
                <string>{44,173}</string>
            </dict>
            <key>goal_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1316},{101,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,225}}</string>
                <key>sourceSize</key>
                <string>{101,225}</string>
            </dict>
            <key>goal_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1543},{99,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,225}}</string>
                <key>sourceSize</key>
                <string>{99,225}</string>
            </dict>
            <key>goal_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,340},{82,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,225}}</string>
                <key>sourceSize</key>
                <string>{82,225}</string>
            </dict>
            <key>gol_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1759},{303,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,228}}</string>
                <key>sourceSize</key>
                <string>{303,228}</string>
            </dict>
            <key>jempe.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,227},{149,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,198}}</string>
                <key>sourceSize</key>
                <string>{149,198}</string>
            </dict>
            <key>jempe_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2373},{391,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,177}}</string>
                <key>sourceSize</key>
                <string>{391,177}</string>
            </dict>
            <key>leaderboard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,853},{234,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,105}}</string>
                <key>sourceSize</key>
                <string>{234,105}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,677},{1650,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1650,18}}</string>
                <key>sourceSize</key>
                <string>{1650,18}</string>
            </dict>
            <key>londrina_sketch_regular_80.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{449,1347},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>score_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,3415},{552,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,567}}</string>
                <key>sourceSize</key>
                <string>{552,567}</string>
            </dict>
            <key>score_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2861},{552,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,567}}</string>
                <key>sourceSize</key>
                <string>{552,567}</string>
            </dict>
            <key>score_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,793},{552,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,567}}</string>
                <key>sourceSize</key>
                <string>{552,567}</string>
            </dict>
            <key>square_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2552},{316,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,307}}</string>
                <key>sourceSize</key>
                <string>{316,307}</string>
            </dict>
            <key>table_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2812},{1200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,45}}</string>
                <key>sourceSize</key>
                <string>{1200,45}</string>
            </dict>
            <key>table_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,710},{45,2100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,2100}}</string>
                <key>sourceSize</key>
                <string>{45,2100}</string>
            </dict>
            <key>winner_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,566},{589,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,225}}</string>
                <key>sourceSize</key>
                <string>{589,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{1024,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11fdbcdb68023b0ef566b381c802b173$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
