<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,453},{90,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,134}}</string>
                <key>sourceSize</key>
                <string>{90,134}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,577},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>back_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,545},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,15},{267,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,267}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,284},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>facebook_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,665},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{512,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,201}}</string>
                <key>sourceSize</key>
                <string>{512,201}</string>
            </dict>
            <key>ganador_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1370},{459,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,134}}</string>
                <key>sourceSize</key>
                <string>{459,134}</string>
            </dict>
            <key>goal_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,351},{64,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,108}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>goal_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,461},{63,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,104}}</string>
                <key>sourceSize</key>
                <string>{63,104}</string>
            </dict>
            <key>goal_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,181},{65,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,135}}</string>
                <key>sourceSize</key>
                <string>{65,135}</string>
            </dict>
            <key>goal_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1884},{246,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,136}}</string>
                <key>sourceSize</key>
                <string>{246,136}</string>
            </dict>
            <key>goal_border_letters_separation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2026},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>goal_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,392},{63,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,101}}</string>
                <key>sourceSize</key>
                <string>{63,101}</string>
            </dict>
            <key>goal_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,248},{62,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,135}}</string>
                <key>sourceSize</key>
                <string>{62,135}</string>
            </dict>
            <key>goal_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{28,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,104}}</string>
                <key>sourceSize</key>
                <string>{28,104}</string>
            </dict>
            <key>goal_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2020},{26,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,103}}</string>
                <key>sourceSize</key>
                <string>{26,103}</string>
            </dict>
            <key>goal_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,312},{60,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,135}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>goal_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,392},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>goal_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1831},{49,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,135}}</string>
                <key>sourceSize</key>
                <string>{49,135}</string>
            </dict>
            <key>gol_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1882},{181,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,136}}</string>
                <key>sourceSize</key>
                <string>{181,136}</string>
            </dict>
            <key>jempe.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,457},{89,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,118}}</string>
                <key>sourceSize</key>
                <string>{89,118}</string>
            </dict>
            <key>jempe_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,284},{234,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,106}}</string>
                <key>sourceSize</key>
                <string>{234,106}</string>
            </dict>
            <key>leaderboard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1884},{140,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,63}}</string>
                <key>sourceSize</key>
                <string>{140,63}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{990,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{990,11}}</string>
                <key>sourceSize</key>
                <string>{990,11}</string>
            </dict>
            <key>score_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{331,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,340}}</string>
                <key>sourceSize</key>
                <string>{331,340}</string>
            </dict>
            <key>score_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,374},{331,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,340}}</string>
                <key>sourceSize</key>
                <string>{331,340}</string>
            </dict>
            <key>score_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{331,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,340}}</string>
                <key>sourceSize</key>
                <string>{331,340}</string>
            </dict>
            <key>square_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,181},{189,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,184}}</string>
                <key>sourceSize</key>
                <string>{189,184}</string>
            </dict>
            <key>table_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,15},{720,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,27}}</string>
                <key>sourceSize</key>
                <string>{720,27}</string>
            </dict>
            <key>table_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,108},{27,1260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,1260}}</string>
                <key>sourceSize</key>
                <string>{27,1260}</string>
            </dict>
            <key>winner_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,44},{353,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,135}}</string>
                <key>sourceSize</key>
                <string>{353,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75e723deb77237af3e7aaedad3068f8c$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
