<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,414},{200,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,298}}</string>
                <key>sourceSize</key>
                <string>{200,298}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,1221},{264,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,267}}</string>
                <key>sourceSize</key>
                <string>{264,267}</string>
            </dict>
            <key>back_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,952},{264,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,267}}</string>
                <key>sourceSize</key>
                <string>{264,267}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1888},{594,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,594}}</string>
                <key>sourceSize</key>
                <string>{594,594}</string>
            </dict>
            <key>corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,3930},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>facebook_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,2215},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{1138,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,448}}</string>
                <key>sourceSize</key>
                <string>{1138,448}</string>
            </dict>
            <key>ganador_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{1020,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,299}}</string>
                <key>sourceSize</key>
                <string>{1020,299}</string>
            </dict>
            <key>goal_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,3930},{144,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,241}}</string>
                <key>sourceSize</key>
                <string>{144,241}</string>
            </dict>
            <key>goal_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,3930},{142,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,232}}</string>
                <key>sourceSize</key>
                <string>{142,232}</string>
            </dict>
            <key>goal_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{146,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,300}}</string>
                <key>sourceSize</key>
                <string>{146,300}</string>
            </dict>
            <key>goal_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,2451},{547,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,304}}</string>
                <key>sourceSize</key>
                <string>{547,304}</string>
            </dict>
            <key>goal_border_letters_separation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,64},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>goal_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,3930},{141,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,225}}</string>
                <key>sourceSize</key>
                <string>{141,225}</string>
            </dict>
            <key>goal_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{138,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,300}}</string>
                <key>sourceSize</key>
                <string>{138,300}</string>
            </dict>
            <key>goal_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,816},{64,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,232}}</string>
                <key>sourceSize</key>
                <string>{64,232}</string>
            </dict>
            <key>goal_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,815},{59,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,231}}</string>
                <key>sourceSize</key>
                <string>{59,231}</string>
            </dict>
            <key>goal_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1103},{135,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,300}}</string>
                <key>sourceSize</key>
                <string>{135,300}</string>
            </dict>
            <key>goal_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3960},{133,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,300}}</string>
                <key>sourceSize</key>
                <string>{133,300}</string>
            </dict>
            <key>goal_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,514},{110,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,300}}</string>
                <key>sourceSize</key>
                <string>{110,300}</string>
            </dict>
            <key>gol_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,64},{404,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,304}}</string>
                <key>sourceSize</key>
                <string>{404,304}</string>
            </dict>
            <key>jempe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,1490},{199,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,264}}</string>
                <key>sourceSize</key>
                <string>{199,264}</string>
            </dict>
            <key>jempe_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,1691},{522,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,237}}</string>
                <key>sourceSize</key>
                <string>{522,237}</string>
            </dict>
            <key>leaderboard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,909},{313,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,140}}</string>
                <key>sourceSize</key>
                <string>{313,140}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,101},{2200,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2200,25}}</string>
                <key>sourceSize</key>
                <string>{2200,25}</string>
            </dict>
            <key>new_high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,815},{655,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,333}}</string>
                <key>sourceSize</key>
                <string>{655,333}</string>
            </dict>
            <key>nuevo_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,370},{537,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,339}}</string>
                <key>sourceSize</key>
                <string>{537,339}</string>
            </dict>
            <key>replay_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,683},{264,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,267}}</string>
                <key>sourceSize</key>
                <string>{264,267}</string>
            </dict>
            <key>replay_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,414},{264,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,267}}</string>
                <key>sourceSize</key>
                <string>{264,267}</string>
            </dict>
            <key>score_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1150},{736,756}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,756}}</string>
                <key>sourceSize</key>
                <string>{736,756}</string>
            </dict>
            <key>score_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,3172},{736,756}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,756}}</string>
                <key>sourceSize</key>
                <string>{736,756}</string>
            </dict>
            <key>score_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,3172},{736,756}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,756}}</string>
                <key>sourceSize</key>
                <string>{736,756}</string>
            </dict>
            <key>square_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{422,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,410}}</string>
                <key>sourceSize</key>
                <string>{422,410}</string>
            </dict>
            <key>table_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1600,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,60}}</string>
                <key>sourceSize</key>
                <string>{1600,60}</string>
            </dict>
            <key>table_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,370},{60,2800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,2800}}</string>
                <key>sourceSize</key>
                <string>{60,2800}</string>
            </dict>
            <key>winner_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3172},{786,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,301}}</string>
                <key>sourceSize</key>
                <string>{786,301}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78b5768fa7f71b97b7248e9e97832d04$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
