<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,501},{70,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,104}}</string>
                <key>sourceSize</key>
                <string>{70,104}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,457},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>back_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,389},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,12},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,221},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>facebook_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,186},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,35},{398,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,156}}</string>
                <key>sourceSize</key>
                <string>{398,156}</string>
            </dict>
            <key>ganador_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,193},{357,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,104}}</string>
                <key>sourceSize</key>
                <string>{357,104}</string>
            </dict>
            <key>goal_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,221},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>goal_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,269},{49,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,81}}</string>
                <key>sourceSize</key>
                <string>{49,81}</string>
            </dict>
            <key>goal_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,180},{51,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,105}}</string>
                <key>sourceSize</key>
                <string>{51,105}</string>
            </dict>
            <key>goal_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,161},{191,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,106}}</string>
                <key>sourceSize</key>
                <string>{191,106}</string>
            </dict>
            <key>goal_border_letters_separation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,193},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>goal_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,299},{49,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{49,78}</string>
            </dict>
            <key>goal_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,354},{48,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,105}}</string>
                <key>sourceSize</key>
                <string>{48,105}</string>
            </dict>
            <key>goal_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,110},{22,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,81}}</string>
                <key>sourceSize</key>
                <string>{22,81}</string>
            </dict>
            <key>goal_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,193},{20,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{20,80}</string>
            </dict>
            <key>goal_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,404},{47,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,105}}</string>
                <key>sourceSize</key>
                <string>{47,105}</string>
            </dict>
            <key>goal_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,453},{46,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,105}}</string>
                <key>sourceSize</key>
                <string>{46,105}</string>
            </dict>
            <key>goal_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{38,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,105}}</string>
                <key>sourceSize</key>
                <string>{38,105}</string>
            </dict>
            <key>gol_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{141,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,106}}</string>
                <key>sourceSize</key>
                <string>{141,106}</string>
            </dict>
            <key>jempe_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{182,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,82}}</string>
                <key>sourceSize</key>
                <string>{182,82}</string>
            </dict>
            <key>leaderboard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,110},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{770,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,8}}</string>
                <key>sourceSize</key>
                <string>{770,8}</string>
            </dict>
            <key>players_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,299},{344,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,88}}</string>
                <key>sourceSize</key>
                <string>{344,88}</string>
            </dict>
            <key>score_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,648},{257,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,264}}</string>
                <key>sourceSize</key>
                <string>{257,264}</string>
            </dict>
            <key>score_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,389},{257,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,264}}</string>
                <key>sourceSize</key>
                <string>{257,264}</string>
            </dict>
            <key>score_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,287},{257,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,264}}</string>
                <key>sourceSize</key>
                <string>{257,264}</string>
            </dict>
            <key>square_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,35},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>table_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,12},{560,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,21}}</string>
                <key>sourceSize</key>
                <string>{560,21}</string>
            </dict>
            <key>table_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,979}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,979}}</string>
                <key>sourceSize</key>
                <string>{21,979}</string>
            </dict>
            <key>winner_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,180},{275,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,105}}</string>
                <key>sourceSize</key>
                <string>{275,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b7d053d9e164ab789b1823337c24234$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
