<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,193},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,962},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>back_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,827},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,879},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>facebook_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,911},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,94}}</string>
                <key>sourceSize</key>
                <string>{238,94}</string>
            </dict>
            <key>ganador_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{214,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,62}}</string>
                <key>sourceSize</key>
                <string>{214,62}</string>
            </dict>
            <key>goal_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,827},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>goal_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,885},{29,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,48}}</string>
                <key>sourceSize</key>
                <string>{29,48}</string>
            </dict>
            <key>goal_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,825},{30,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,63}}</string>
                <key>sourceSize</key>
                <string>{30,63}</string>
            </dict>
            <key>goal_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{114,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,63}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>goal_border_letters_separation.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,98},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>goal_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,162},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>goal_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,760},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>goal_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,98},{13,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,48}}</string>
                <key>sourceSize</key>
                <string>{13,48}</string>
            </dict>
            <key>goal_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,657},{12,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,48}}</string>
                <key>sourceSize</key>
                <string>{12,48}</string>
            </dict>
            <key>goal_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,695},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>goal_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,937},{27,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,63}}</string>
                <key>sourceSize</key>
                <string>{27,63}</string>
            </dict>
            <key>goal_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,592},{23,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,63}}</string>
                <key>sourceSize</key>
                <string>{23,63}</string>
            </dict>
            <key>gol_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>jempe.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,890},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>jempe_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>leaderboard_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,428},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>leaderboard_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,371},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>leaderboard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,937},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,107},{462,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,5}}</string>
                <key>sourceSize</key>
                <string>{462,5}</string>
            </dict>
            <key>new_high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,600},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,69}}</string>
                <key>sourceSize</key>
                <string>{137,69}</string>
            </dict>
            <key>nuevo_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,486},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>replay_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,314},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>replay_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,257},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>score_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>score_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>score_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>square_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,739},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>table_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,148},{336,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,12}}</string>
                <key>sourceSize</key>
                <string>{336,12}</string>
            </dict>
            <key>table_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{12,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,588}}</string>
                <key>sourceSize</key>
                <string>{12,588}</string>
            </dict>
            <key>winner_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{165,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,63}}</string>
                <key>sourceSize</key>
                <string>{165,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5674782b78284c28ea346576aebabcc$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
