<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Jempe Hockey</string>
	<key>CFBundleExecutable</key>
	<string>Hockey</string>
	<key>CFBundleIconFile</key>
	<string>iphone_hockey_icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>iphone4_hockey_icon.png</string>
		<string>iphone_hockey_icon.png</string>
		<string>ipad_retina_hockey_icon.png</string>
		<string>ipad_hockey_icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon80</string>
				<string>icon58</string>
				<string>icon29</string>
				<string>icon120</string>
				<string>icon114</string>
				<string>icon57</string>
				<string>iphone4_hockey_icon.png</string>
				<string>iphone_hockey_icon.png</string>
				<string>ipad_retina_hockey_icon.png</string>
				<string>ipad_hockey_icon.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon58</string>
				<string>icon80</string>
				<string>icon40</string>
				<string>icon100</string>
				<string>icon29</string>
				<string>icon50</string>
				<string>icon152</string>
				<string>icon76</string>
				<string>icon144</string>
				<string>icon72</string>
				<string>icon120</string>
				<string>icon114</string>
				<string>icon57</string>
				<string>iphone4_hockey_icon.png</string>
				<string>iphone_hockey_icon.png</string>
				<string>ipad_retina_hockey_icon.png</string>
				<string>ipad_hockey_icon.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>org.jempe.hockey</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Jempe Hockey</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>LondrinaSolid-Regular.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
